/* CUSTOM CSS. */

/* SETTING SOME DEFAULT VALUES FOR ALL COMPONENTS. */
*{
    margin: 0;
    padding: 0;
    /* font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif; */
    /* font-family: Roboto_Mono; */
    font-family: 'Roboto Mono';   /* ROBOTO MONO FONT IS IMPORTED IN THE LINKED HTML.*/   
    font-size: 15px;
    color: #E6F1FF;
}

/* SETTING THE STYLE FOR BODY SECTION. */
body{
    background: #0A192F;
    /* min-width: 320px; */
    /* height: auto; */
    overflow-x: hidden;
    overflow-y: hidden;
    /* position: relative;
    top: 0;
    width: 100%; */
}

/* SCREEN LOADER STYLE STARTS. */

#screen-loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #0A192F;
    z-index: 2;
}

#screen-loader div{
    text-align: center;
    position: relative;
    top: 40%;
}

/* SCREEN LOADER STYLE ENDS. */


/* SOME CUSTOM STYLES FOR COMPONENTS STARTS. */

/* FOR NEON COLORED TEXT. */
.neon-text{
    color: #5AE7C8;
}
.neon-text:hover{
    color: #7BA7D8;
    transition: 1s; 
} 

/* FOR WHITE COLORED TEXT. */
.white-text{
    color: #CCD6F6;
}

/* FOR GRAY COLORED TEXT. */
.gray-text-1{
    color: #8892B0;
}
.gray-text-2{
    color: #7C87A4;
}

/* FOR HUGE TEXT. */
.text-huge{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    word-spacing: -20px;
}

/* FOR BIG TEXT. */
.text-big{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    word-spacing: -20px;
}

/* FOR HEADING TEXT. */
.text-heading{
    font-size: 25px;
    font-weight: 600;
    margin: 5px 0;
    padding: 0;
}
/* FOR HEADING SIZED NUMBERS. */
.number-heading{
    font-size: 22px;
    font-weight: 600;
    margin: 5px 0;
    padding: 0;
}

/* FOR NORMAL SIZED TEXT. */
.text-normal{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
}
/* FOR NORMAL SIZED NUMBERS. */
.number-normal{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/* FOR SMALL SIZED TEXT. */
.text-small{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    word-spacing: 2px;
}

/* FOR TINY TEXT. */
.text-tiny{
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    word-spacing: 2px;
}

/* FOR SMALL NEON COLORED BUTTON. */
.neon-btn-sm{
    background: transparent;            /* Transparent background to match the surrounding. */
    color: #5AE7C8;                 /* Text color. */
    border: solid 1px #5AE7C8;      /* Border color. */
    padding: 10px 15px;             /* Padding. */ 
    border-radius: 5px;             /* Border radius. */
    height: auto;                   /* Height of the button. */
    cursor: pointer;                /* To display pointer curosor when hovered. */
}

/* FOR LARGE NEON COLORED BUTTON. */
.neon-btn-lg{
    background: transparent;            /* Transparent background to match the surrounding. */
    color: #5AE7C8;                 /* Text color. */
    border: solid 1px #5AE7C8;      /* Border color. */
    padding: 15px 30px;             /* Padding. */ 
    border-radius: 5px;             /* Border radius. */
    height: auto;                   /* Height of the button. */
    cursor: pointer;                /* To display pointer curosor when hovered. */
    font-size: 15px;
}
.neon-btn-sm:hover, .neon-btn-lg:hover{
    background-color: #10293B;
    transition: 1s;
}

/* CUSTOM LINES. */

/* VERTICAL LINE. */
.vertical_line{
    border: solid 1px #7C87A4;
    height: 75px;
    width: 1px;
    margin: 10px auto 0 auto;
    background-color: #7C87A4;
}

/* HORIZONTAL LINE. */
.horizontal_line{
    border: solid 1px #7C87A4;
    /* height: 1px; */
    width: 50%;
    margin: auto 20px;
    filter: blur(1px);
}
    
/* CUSTOM IMAGE STYLE. */
.filtered-image{
    /* filter: contrast(85%) hue-rotate(127deg) invert(12%) saturate(113%) sepia(10%); */
    filter: grayscale(100%);
    /* filter: sepia(100%); */
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px 10px rgba(90, 231, 200, .4);
}
.filtered-image:hover{
    filter: none;
    transition: 1s;
}

/* CUSTOM UL. */
.neon-lists{
    list-style-image: url('../images/list_bullet.png');
}

.neon-lists li{
    padding-left: 5px;
}


/* SOME CUSTOM STYLES FOR COMPONENTS ENDS. */


/* NAVBAR SECTION STYLES STARTS. */

/* CREATING A CUSTOM CLASS FOR NAV/NAVBAR SECTION FOR ADDITIONAL STYLES. */
.custom-navbar{
    box-shadow: 0px 1px 50px black;
    /* STICKY NAVBAR. */
    position: -webkit-sticky;   
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-collapse {
    background-color: #0A192F;  /* SETTING THE BACKGROUND COLOR OF THE COMP */
}

.custom-navbar-nav{
    margin-right: initial;
}

.custom-navbar-nav li a{
    color: #E6F1FF;
    margin-right: 10px;
    font-size: 13px;
}
.custom-navbar-nav li a:hover{
    color: #5AE7C8;
}

.custom-navbar-nav li a span{
    color: #5AE7C8;
    /* margin-right: 15px; */
    font-size: 13px;
}

/* NAVBAR SECTION STYLES ENDS. */


/* CONTENTS SECTION STYLES STARTS. */

.contents-class{
    background: url('../images/background_1.png');    /* Importing background image. */
    /* height: 100%; Actual height of the image. */
    background-position: center; /* Center the image */
    /* background-repeat: repeat-y space; Repeat image in y direction. */
    /* width: 100%; */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-top: -50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.contents-class div{
    background: transparent;
}


/* PAGE CONTENTS STYLE. */
.page-contents{
    padding: 150px 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* PAGE CONTENTS HEADING. */
.page-contents-heading{
    display: flex;
    width: 80%;
}


/* EXPERIENCE SECTION/HONORS & AWARDS SECTION STYLE STARTS. */

#experience_section ul li a:hover, #honors_and_awards_section ul li a:hover{
    color: #46B3A2;
    background-color: #172a45;
    border-radius: 0;
    border-left: 5px solid #46B3A2;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding-left: 20px;
}

.nav-pills .nav-link.active.tab-open, .nav-pills .show > .nav-link.tab-open {
    color: #46B3A2;
    background-color: #172a45;
    border-radius: 0;
    border-left: 5px solid #46B3A2;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding-left: 20px;
    width: 50vw;
}

.nav-pills .nav-link.active.tab-close, .nav-pills .show > .nav-link.tab-close {
    color: #7992A1;
    background-color: #172a45;
    border-radius: 0;
    border-left: 5px solid #7992A1;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding-left: 20px;
    width: 50vw;
}

.tab-pane {
    background-color: #172a45!important;
    color: #7992B0;
    padding: 30px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    margin-left: 5px;
}

.tab-pane ul {
    padding-left: 10px;
    margin: 30px 5px 5px 5px;
}

.tab-pane ul li {
    margin: 15px 0;
    padding: 5px 20px;
}

.tab-pane .tab-close {
    display: none;
    transition: 1s;
}

.tab-pane.tab-open {
    display: block;
    transition: 1s;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    padding: 10px;
    width: 330px;
}

@media (min-width: 576px) {
    .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
        width: 550px;
        padding: 10px;
    }
}

/* EXPERIENCE SECTION/HONORS & AWARDS SECTION STYLE ENDS */

/* PROJECTS SECTION STYLE STARTS. */
.project {
    margin-top: 30px;
}
  
.project-text {
    color: #CCD6F6;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    padding: 5px;
    padding-right: 0;
    font-size: 15px;
    line-height: 30px;
}
    
.btn.btn-img {
    color: white;
    font-size: 21px;
    padding: 0px 15px 2px 0px;
    float: right;
}

img .project{
    filter: grayscale(100%);
}
/* PROJECTS SECTION STYLE ENDS. */

/* PUBLICATIONS SECTION STYLE STARTS. */

/* #publications{

} */

#publications .card{
    background-color: #0A192F;
    height: 300px;
    width: 60vw;
    padding: 5px;
    border: solid 1px rgba(16, 41, 59, 1);
    box-shadow: 2px 2px rgba(136, 146, 175, 0.5);
}

/* #publications .card .card-body{

} */

#publications .card .card-body a{
    float: right;
    margin-right: 5px;
}
#publications .card .card-body a:hover i{
    color: #5AE7C8;
    transition: 1.5s;
}

#publications .card .card-body div{
    /* color: #5AE7C8; */
    margin-top: 10px;
    padding: 10px 0;
}

/* PUBLICATIONS SECTION STYLE ENDS. */


/* SOCIAL MEDIA LINKS CLASS STYLE SECTION. */
.social_media_links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* SMALL SCREEN LINKS SECTION STYLE STARTS. */

#small_screen_links{
    visibility: hidden;
    text-align: center;
}

#small_screen_links ul li{
    display: inline-block;
    padding: 10px;
}

#small_screen_links ul li a{
    color: #7C87A4;
    font-size: 18px;
}
#small_screen_links ul li a:hover{
    color: #5AE7C8;
    transition: 1s;
    text-decoration-line: none;
}

/* SMALL SCREEN LINKS SECTION STYLE ENDS. */


/* LARGE SCREEN LINKS SECTION STYLE STARTS. */

/* SOCIAL MEDIA LINK SECTION STARTS. */

#large_screen_links{
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 40px;
}

#large_screen_links ul li{
    padding: 10px;
}

#large_screen_links ul li a{
    color: #7C87A4;
    font-size: 20px;
}
#large_screen_links ul li a:hover{
    color: #5AE7C8;
    margin-bottom: 5px;
    /* bottom: 10px; */
    text-decoration-line: none;
    /* font-size: 20px; */
    transition: 0.3s;
}

/* SOCIAL MEDIA LINK SECTION ENDS. */

/* EMAIL SECTION STARTS. */

#large_screen_email{
    visibility: visible;
    position: fixed;
    bottom: 0;
    right: 40px;
}

#large_screen_email a{
    writing-mode: vertical-rl;
    color: #7C87A4;
}
#large_screen_email a:hover{
    writing-mode: vertical-rl;
    color: #5AE7C8;
    margin-bottom: 10px;
    text-decoration-line: none;
    font-size: 15px;
    transition: .3s;
}


/* EMAIL SECTION ENDS. */

/* LARGE SCREEN LINKS SECTION STYLE ENDS. */

/* CONTACT SECTION STYLE STARTS. */

#contact_section{
    text-align: center;
}

/* CONTACT SECTION STYLE ENDS. */


/* COPYRIGHT SECTION STYLE STARTS. */

#copyright_section{
    text-align: center;
}

/* COPYRIGHT SECTION STYLE ENDS. */


.tester{
    width: 100%;
    background: red;
    border: solid thin red;
}

/* CONTENTS SECTION STYLES ENDS. */


/* TO MANGE RESPONSIVENESS. */

@media screen and (max-width: 1250px){

    /* MAKING SMALL SCREEN LINKS VISIBLE. */
    #small_screen_links{
        visibility: visible;
    }

    /* MAKING LARGE SCREEN LINKS INVISIBLE. */

    /* SOCIAL MEDIA LINKS. */
    #large_screen_links{
        visibility: hidden;
    }

    /* EMAIL. */
    #large_screen_email{
        visibility: hidden;
    }

}

@media screen and (max-width: 991px){
    
    /* ALTERING COLOR. */
    .navbar-collapse {
        background-color: #172A45;
        text-align: right;
        padding: 10px;
    }    

    /* FOR HUGE TEXT. */
    .text-huge{
        font-size: 52px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        word-spacing: -20px;
    }

    /* FOR BIG TEXT. */
    .text-big{
        font-size: 42px;
        font-weight: 900;
        margin: 0;
        padding: 0;
        word-spacing: -20px;
    }

    /* FOR HEADING TEXT. */
    .text-heading{
        font-size: 20px;
        font-weight: 600;
        margin: 5px 0;
        padding: 0;
    }
    /* FOR HEADING SIZED NUMBERS. */
    .number-heading{
        font-size: 18px;
        font-weight: 600;
        margin: 5px 0;
        padding: 0;
    }

    /* FOR NORMAL SIZED TEXT. */
    .text-normal{
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    /* FOR NORMAL SIZED NUMBERS. */
    .number-normal{
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    /* FOR SMALL SIZED TEXT. */
    .text-small{
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        word-spacing: 2px;
    }

    /* FOR TINY TEXT. */
    .text-tiny{
        font-size: 10px;
        font-weight: 200;
        margin: 0;
        padding: 0;
        word-spacing: 2px;
    }

}

@media screen and (max-width: 768px){

    /* FOR HUGE TEXT. */
    .text-huge{
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        word-spacing: normal;
    }

    /* FOR BIG TEXT. */
    .text-big{
        font-size: 32px;
        font-weight: 900;
        margin: 0;
        padding: 0;
        word-spacing: normal;
    }

    /* FOR HEADING TEXT. */
    .text-heading{
        font-size: 18px;
        font-weight: 600;
        margin: 5px 0;
        padding: 0;
    }
    /* FOR HEADING SIZED NUMBERS. */
    .number-heading{
        font-size: 16px;
        font-weight: 600;
        margin: 5px 0;
        padding: 0;
    }

    /* FOR NORMAL SIZED TEXT. */
    .text-normal{
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    /* FOR NORMAL SIZED NUMBERS. */
    .number-normal{
        font-size: 10px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    /* FOR SMALL SIZED TEXT. */
    .text-small{
        font-size: 10px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        word-spacing: 2px;
    }

    /* FOR TINY TEXT. */
    .text-tiny{
        font-size: 8px;
        font-weight: 200;
        margin: 0;
        padding: 0;
        word-spacing: 2px;
    }
    

    /* FOR SMALL NEON COLORED BUTTON. */
    .neon-btn-sm{
        background: transparent;            /* Transparent background to match the surrounding. */
        color: #5AE7C8;                 /* Text color. */
        border: solid 1px #5AE7C8;      /* Border color. */
        /* padding: 5px;             Padding.  */
        border-radius: 5px;             /* Border radius. */
        height: auto;                   /* Height of the button. */
        cursor: pointer;                /* To display pointer curosor when hovered. */
        font-size: 12px;
    }

    /* FOR LARGE NEON COLORED BUTTON. */
    .neon-btn-lg{
        background: transparent;            /* Transparent background to match the surrounding. */
        color: #5AE7C8;                 /* Text color. */
        border: solid 1px #5AE7C8;      /* Border color. */
        padding: 10px;             /* Padding. */ 
        border-radius: 5px;             /* Border radius. */
        height: auto;                   /* Height of the button. */
        cursor: pointer;                /* To display pointer curosor when hovered. */
        font-size: 12px;
    }

    /* PAGE CONTENTS STYLE. */
    .page-contents{
        padding: 100px 10px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    /* PAGE CONTENTS HEADING. */
    .page-contents-heading{
        display: flex;
        width: 100%;
    }

    #about_section .page-contents-heading{
        margin-bottom: 20px;   
    }

}

@media screen and (max-width: 576px){

    /* FOR HUGE TEXT. */
    .text-huge{
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        word-spacing: normal;
    }

    /* FOR BIG TEXT. */
    .text-big{
        font-size: 32px;
        font-weight: 900;
        margin: 0;
        padding: 0;
        word-spacing: normal;
    }

    /* FOR HEADING TEXT. */
    .text-heading{
        font-size: 18px;
        font-weight: 600;
        margin: 5px 0;
        padding: 0;
    }
    /* FOR HEADING SIZED NUMBERS. */
    .number-heading{
        font-size: 16px;
        font-weight: 600;
        margin: 5px 0;
        padding: 0;
    }

    /* FOR NORMAL SIZED TEXT. */
    .text-normal{
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    /* FOR NORMAL SIZED NUMBERS. */
    .number-normal{
        font-size: 10px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    /* FOR SMALL SIZED TEXT. */
    .text-small{
        font-size: 10px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        word-spacing: 2px;
    }

    /* FOR TINY TEXT. */
    .text-tiny{
        font-size: 8px;
        font-weight: 200;
        margin: 0;
        padding: 0;
        word-spacing: 2px;
    }
    
    #about_section .page-contents-heading{
        margin-bottom: 0px;   
    }

    .contents-class{
        /* background: url('../images/Frame_4.png');    
        Importing background image. */
        background: red;
    }

}