/* CUSTOM CSS. */

/* SETTING SOME DEFAULT VALUES FOR ALL COMPONENTS. */
*{
    margin: 0;
    padding: 0;
    /* font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif; */
    /* font-family: Roboto_Mono; */
    font-family: 'Roboto Mono';   /* ROBOTO MONO FONT IS IMPORTED IN THE LINKED HTML.*/   
    font-size: 15px;
    color: #E6F1FF;
}

/* SETTING THE STYLE FOR BODY SECTION. */
body{
    background: #0A192F;
    min-width: 300px;
    height: auto;
    overflow-x: hidden;
}


/* SOME CUSTOM STYLES FOR COMPONENTS STARTS. */

/* FOR NEON COLORED TEXT. */
.neon-text{
    color: #5AE7C8;
}
.neon-text:hover{
    color: #7BA7D8;
    transition: 1s; 
} 

/* FOR WHITE COLORED TEXT. */
.white-text{
    color: #CCD6F6;
}

/* FOR GRAY COLORED TEXT. */
.gray-text-1{
    color: #8892B0;
}
.gray-text-2{
    color: #7C87A4;
}

/* FOR HUGE TEXT. */
.text-huge{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    word-spacing: -20px;
}

/* FOR BIG TEXT. */
.text-big{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    word-spacing: -20px;
}

/* FOR HEADING TEXT. */
.text-heading{
    font-size: 25px;
    font-weight: 600;
    margin: 5px 0;
    padding: 0;
}
/* FOR HEADING SIZED NUMBERS. */
.number-heading{
    font-size: 22px;
    font-weight: 600;
    margin: 5px 0;
    padding: 0;
}

/* FOR NORMAL SIZED TEXT. */
.text-normal{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
}
/* FOR NORMAL SIZED NUMBERS. */
.number-normal{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/* FOR SMALL SIZED TEXT. */
.text-small{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    word-spacing: 2px;
}

/* FOR TINY TEXT. */
.text-tiny{
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    word-spacing: 2px;
}

/* FOR SMALL NEON COLORED BUTTON. */
.neon-btn-sm{
    background: transparent;            /* Transparent background to match the surrounding. */
    color: #5AE7C8;                 /* Text color. */
    border: solid 1px #5AE7C8;      /* Border color. */
    padding: 10px 15px;             /* Padding. */ 
    border-radius: 5px;             /* Border radius. */
    height: auto;                   /* Height of the button. */
    cursor: pointer;                /* To display pointer curosor when hovered. */
}

/* FOR LARGE NEON COLORED BUTTON. */
.neon-btn-lg{
    background: transparent;            /* Transparent background to match the surrounding. */
    color: #5AE7C8;                 /* Text color. */
    border: solid 1px #5AE7C8;      /* Border color. */
    padding: 15px 30px;             /* Padding. */ 
    border-radius: 5px;             /* Border radius. */
    height: auto;                   /* Height of the button. */
    cursor: pointer;                /* To display pointer curosor when hovered. */
    font-size: 15px;
}
.neon-btn-sm:hover, .neon-btn-lg:hover{
    background-color: #10293B;
    transition: 1s;
}

/* CUSTOM LINES. */

/* HORIZONTAL LINE. */
.horizontal_line{
    border: solid 1px #7C87A4;
    height: 75px;
    width: 1px;
    margin: 10px auto 0 auto;
}

/* VERTICAL LINE. */
.vertical_line{
    border: solid 1px #7C87A4;
    /* width: auto; */
    height: 1px;
    margin: auto 0;
    box-shadow: 0 4px 8px 0 #7C87A4, 0 6px 20px 0 #7C87A4;
}


/* CUSTOM IMAGE STYLE. */
.filtered-image{
    filter: contrast(85%) hue-rotate(127deg) invert(12%) saturate(113%) sepia(10%);
    cursor: pointer;
}
.filtered-image:hover{
    filter: none;
    transition: 1s;
}

/* CUSTOM UL. */
.neon-lists{
    list-style-image: url('../images/list_bullet.png');
}

.neon-lists li{
    padding-left: 5px;
}
/* SOME CUSTOM STYLES FOR COMPONENTS ENDS. */


/* NAVBAR SECTION STYLES STARTS. */

/* CREATING A CUSTOM CLASS FOR NAV/NAVBAR SECTION FOR ADDITIONAL STYLES. */
.custom-navbar{
    box-shadow: 0px 1px 50px black;
    /* STICKY NAVBAR. */
    position: -webkit-sticky;   
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-collapse {
    background-color: #0A192F;  /* SETTING THE BACKGROUND COLOR OF THE COMP */
}

.custom-navbar-nav{
    margin-right: initial;
}

.custom-navbar-nav li a{
    color: #E6F1FF;
    margin-right: 20px;
    font-size: 13px;
}
.custom-navbar-nav li a:hover{
    color: #5AE7C8;
}

.custom-navbar-nav li a span{
    color: #5AE7C8;
    margin-right: 5px;
    font-size: 13px;
}

/* NAVBAR SECTION STYLES ENDS. */


/* CONTENTS SECTION STYLES STARTS. */

.contents-class{
    background: url('../images/background.png');    /* Importing background image. */
    height: 100%; /* Actual height of the image. */
    background-position: center; /* Center the image */
    background-repeat: repeat-y; /* Repeat image in y direction. */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.contents-class div{
    background: transparent;
}


/* PAGE CONTENTS STYLE. */
.page-contents{
    padding: 150px 40px;
    /* margin: 100px inherit; */
    margin-top: 50px;
    margin-bottom: 100px;
}

/* SOCIAL MEDIA LINKS CLASS STYLE SECTION. */
.social_media_links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* SMALL SCREEN LINKS SECTION STYLE STARTS. */

#small_screen_links{
    visibility: hidden;
    text-align: center;
}

#small_screen_links ul li{
    display: inline-block;
    padding: 10px;
}

#small_screen_links ul li a{
    color: #7C87A4;
    font-size: 18px;
}
#small_screen_links ul li a:hover{
    color: #5AE7C8;
    transition: 1s;
    text-decoration-line: none;
}

/* SMALL SCREEN LINKS SECTION STYLE ENDS. */


/* LARGE SCREEN LINKS SECTION STYLE STARTS. */

/* SOCIAL MEDIA LINK SECTION STARTS. */

#large_screen_links{
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 40px;
}

#large_screen_links ul li{
    padding: 10px;
}

#large_screen_links ul li a{
    color: #7C87A4;
    font-size: 18px;
}
#large_screen_links ul li a:hover{
    color: #5AE7C8;
    margin-bottom: 8px;
    text-decoration-line: none;
    font-size: 20px;
    transition: 0.3s;
}

/* SOCIAL MEDIA LINK SECTION ENDS. */

/* EMAIL SECTION STARTS. */

#large_screen_email{
    visibility: visible;
    position: fixed;
    bottom: 0;
    right: 40px;
}

#large_screen_email a{
    writing-mode: vertical-rl;
    color: #7C87A4;
}
#large_screen_email a:hover{
    writing-mode: vertical-rl;
    color: #5AE7C8;
    margin-bottom: 10px;
    text-decoration-line: none;
    font-size: 20px;
    transition: .3s;
}


/* EMAIL SECTION ENDS. */

/* LARGE SCREEN LINKS SECTION STYLE ENDS. */

/* CONTACT SECTION STYLE STARTS. */

#contact_section{
    text-align: center;
}

/* CONTACT SECTION STYLE ENDS. */


/* COPYRIGHT SECTION STYLE STARTS. */

#copyright_section{
    text-align: center;
}

/* COPYRIGHT SECTION STYLE ENDS. */


.tester{
    width: 100%;
    background: red;
    border: solid thin red;
}

/* CONTENTS SECTION STYLES ENDS. */


/* TO MANGE RESPONSIVENESS. */

@media screen and (max-width: 1200px){
    
    /* ALTERING COLOR. */
    .navbar-collapse {
        background-color: #172A45;
        text-align: right;
        padding: 10px;
    }    

    /* MAKING SMALL SCREEN LINKS VISIBLE. */
    #small_screen_links{
        visibility: visible;
    }

    /* MAKING LARGE SCREEN LINKS INVISIBLE. */
    
    /* SOCIAL MEDIA LINKS. */
    #large_screen_links{
        visibility: hidden;
    }

    /* EMAIL. */
    #large_screen_email{
        visibility: hidden;
    }

}